.container {

    display: flex;
    gap: 24px;
}

.img {

    width: 292px;
    height: 320px;
    object-fit: cover;
    border-radius: 10px;
}

.content {

    width: 524px;
    height: 32px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

}

.titleName {

    margin-right: auto;
}

.containerPrice {

    display: flex;
    gap: 13px;  
    align-items: center;

}

.price {

    font-size: 24px;
}

.containerReviewLocation {
    width: 100%;

    display: flex;
    gap: 16px;
    margin-top: 8px;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--main);
}

.contentReview {

   display: flex;
   align-items: center;
   gap: 4px;
}

.btnRating {

    background-color: transparent;
    border: none;
    padding: 0;
}

.iconRating {

    display: block;
    stroke: #F2F4F7;
    fill: #F2F4F7;
    border-radius: 0.5px;
    cursor: pointer;
   
}

.btnHeart {
  border: none;
  background-color: transparent;
  padding: 0; 
  margin: 0;  
  display: flex; 
}

.containerLocation {

    display: flex;
    align-items: center;
    gap: 4px;
}

.containerDesc {

    width: 525px;
    margin-top: 24px;
}

.textDesc {

    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    color: var(--text-desc);
    text-align: left;
}

.readMore {

    background-color: transparent;
    border: none;
}

.badgesContainer {

    margin-block-start: 24px;
}

.badges {
    background-color: #F2F4F7;
    border-radius: 100px;

    inline-size: 143px;
    padding-inline-start: 18px;
    padding-inline-end: 18px;
    padding-block-start: 14px;
    padding-block-end: 14px;
    

    display: flex;
    align-items: center;
    gap: 5px;
}