.serachBarContainer {
    position: relative;
    gap: 8px;

    margin-block-end: 40px; 
}

.labelLocation {
    color: #6C717B;
}

.inputWrapper {
    position: relative;
    display: flex;
    align-items: center;
    background-color: var(--inputs-color);
    
}

.inputLocation {
    padding-inline-start: 40px; 
    padding-block-start: 16px;
    padding-block-end: 16px;
    inline-size: 360px;
    border-radius: 12px;
    border: transparent;
}

.iconLocationContainer {
    position: absolute;
    inset-inline-start: 10px;
    display: flex;
    align-items: center;
}
