.heroImage {
    position: relative;
    height: 696px;
    width: 1440px;
    background-color: var(--main);
    background-image: url('../../shared/pics/Picture.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {

    position: absolute;
    top: 260px;
    left: 64px;
    
}

.textContainer {

    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
}

.title {
    
    color: var(--inputs-color);
    font-size: 48px;
    font-weight: 600;
    line-height: 32px;
}

.desc {

    color: var(--inputs-color);
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
   
}
