.heroImage {
    position: relative;
    height: 696px;
    width: 1440px;
    background-color: var(--main);
    background-image: url('../../shared/pics/Picture.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {

    position: absolute;
    top: 260px;
    left: 64px;
    
}

.textContainer {

    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-bottom: 40px;
}

.title {
    
    color: var(--inputs-color);
    font-size: 48px;
    font-weight: 600;
    line-height: 32px;
}

.desc {

    color: var(--inputs-color);
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
   
}

.btn {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 173px;
    white-space: nowrap;

    color: var(--btn-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.08px;

    background-color: var(--bg-btn-color);
    border-radius: 200px;
    border: none;
    padding: 16px 60px 16px 60px;
   
}

.btn:hover {

    background-color: var(--active-link-color);
}